# Build artifacts
.build/
Build/
DerivedData/

# SPM
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# IDE
*.swp
*~
.vscode/
.idea/

# Node
node_modules/
